.category {
  font-size: 2em;
}

.rLabel {
  padding-top: 20px;
  font-size: 1.5em;
}

.prodsOP {
  padding-top: 20px;
  font-size: 1.25em;
}

.typeLbl {
  margin-top: 30px;
  font-size: 1.5em;
  border-bottom: solid black;
  border-left: solid black;
}

.PNLbl {
  margin-top: 30px;
  font-size: 1.5em;
  border-bottom: solid black;
  border-left: solid black;
}